<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gauge Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-gauge"></script>
</head>
<body>
    <h1>Gauge Chart</h1>

    <h2>Gauge Chart</h2>
    <canvas id="gaugeChart" width="100" height="50"></canvas>

    <script>
        // Get the data passed from Flask
        const value = {{ value }};

        const data = {
            datasets: [{
                data: [value, 100 - value],
                backgroundColor: ['rgb(75, 192, 192)', 'rgba(75, 192, 192, 0.1)']
            }]
        };

        const options = {
            circumference: Math.PI,
            rotation: Math.PI,
            cutout: '50%',
            plugins: {
                datalabels: {
                    display: false
                }
            }
        };

        const config = {
            type: 'doughnut',
            data: data,
            options: options
        };

        var myGaugeChart = new Chart(
            document.getElementById('gaugeChart'),
            config
        );
    </script>
</body>
</html>
