{% extends 'base.html' %}
{% block content %}
    <br>
	<h4 class="px-4 offset-1 mukta-medium">Remaining Useful Life Prediction<h4>
    <div class="container">
    <div class="row">
        <div class="col-10 px-5 py-2 offset-1 ">
            <p class='eb-garamond-light' style="text-align: justify;">The NASA Aircraft Engine dataset has been extensively analyzed to predict the remaining useful life (RUL) using various machine learning and deep learning models. 
	Among the models tested, the Multilayer Perceptron (MLP), XGBoost, Long Short-Term Memory (LSTM), and a hybrid version of LSTM combined with Convolutional Neural Networks (CNN)
	have shown particularly convincing results. These models have demonstrated superior performance in terms of accuracy and robustness in predicting RUL, making them standout 
	choices for this application</p>
   
    <canvas id="barChart" style="width: 800px; height: 400px;  transform: scale(0.75);
    position: relative;"></canvas>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Get the data passed from Flask
        const labels = {{ labels | safe }};
        const data = {
            labels: labels,
            datasets: [{
                label: 'RUL of last sample',
                backgroundColor: '#0c2a59',
                
                data: {{ data | safe }},
            }]
        };

        const config = {
    type: 'bar',
    data: data,
    options: {
        plugins: {
            datalabels: {
                anchor: 'start',
                align: 'start',
                color: 'white',
                font: {
                    weight: 'bold',
                    size: 15
                },
                formatter: function(value, context) {
                    return value;
                }
            },
            legend: {
                labels: {
                    font: {
                        size: 22
                    }
                }
            }
        },
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    font: {
                        size: 24
                    }
                }
            },
            x: {
                beginAtZero: true,
                ticks: {
                    font: {
                        size: 29
                    }
                }
            }
        }
    },
    plugins: [ChartDataLabels]
};

        var myBarChart = new Chart(
            document.getElementById('barChart'),
            config
        );
    </script>
{% endblock %}

