<ul class="nav justify-content-center p-0" style="background-color:#342206;color:blanchedalmond;">
    <li class="nav-item nav-underline">
      <a class="nav-link p-2" style="color:blanchedalmond;"aria-current="page" href="#">View EDA</a>
    </li>
    <li class="nav-item nav-underline">
      <a class="nav-link p-2" style="color:blanchedalmond;" href="#">Predict RUL</a>
    </li>
    <li class="nav-item nav-underline">
      <a class="nav-link p-2" style="color:blanchedalmond;" href="#">Meet the team</a>
    </li>

  </ul>
 
