{% extends 'base.html' %}
{% block content %}

<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Our Team</h1>
            
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center ms-5" >

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 offset-1 " >
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="static\default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.webp" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0" style="font-size: larger;">Muthukumar Ganesan</h5><span class="small  text-muted">Technical Officer, Indira Gandhi Centre for Atomic Research</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="mailto:muthuganeshece@gmail.com" class="social-link"><i class="fa-solid fa-envelope" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/muthukumar-ganesan-b6b85461/" class="social-link"><i class="fa-brands fa-linkedin-in" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/muthuganeshece" target="_blank" class="social-link"><i class="fa-brands fa-github" style="color: #878787;"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 ">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="static\default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.webp" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Abhay Sharma</h5><span class="small  text-muted">M.Sc Data Science & AI Student at Himachal Pradesh University</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="mailto:abhay2746198@gmail.com" target="_blank"class="social-link"><i class="fa-solid fa-envelope" style="color: #878787;"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-linkedin-in" style="color: #878787;"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/mystdream" target="_blank" class="social-link"><i class="fa-brands fa-github" style="color: #878787;"></i></a></li>
                    </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="static\default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.webp" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Jyosna Philip</h5><span class="small text-muted">M.Sc Data Science Student at Christ University, Pune</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="mailto:philipjyosna02@gmail.com" class="social-link"><i class="fa-solid fa-envelope" style="color: #878787;"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jyosna-philip/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin-in" style="color: #878787;"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/jyosnaphilip" target="_blank" class="social-link"><i class="fa-brands fa-github" style="color: #878787;"></i></a></li>
                    </ul>
            </div>
        </div><!-- End -->
    </div>
</div>
<div class="container">
    <div class="row text-center ms-5">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5 offset-1">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="static\default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.webp" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Anchal Sekhri</h5><span class="small  text-muted">Data Analyst</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="mailto:anchal.sekhri.31@gmail.com" class="social-link"><i class="fa-solid fa-envelope" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/anchal-sekhri/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin-in" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/sekhrianchal6" target="_blank" class="social-link"><i class="fa-brands fa-github" style="color: #878787;"></i></a></li>
                    </ul>
            </div>
        </div><!-- End -->
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="static\default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.webp" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Sana Zehra</h5><span class="small  text-muted">Data Analyst @Optum</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="mailto:sanazehra.mcs.du.2014" class="social-link"><i class="fa-solid fa-envelope" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/sana-zehra-4866ba106/" target="_blank"class="social-link"><i class="fa-brands fa-linkedin-in" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/proj786" target="_blank" class="social-link"><i class="fa-brands fa-github" style="color: #878787;"></i></a></li>
                    </ul>
            </div>
        </div><!-- End -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="static\default-avatar-profile-icon-social-media-user-vector-image-icon-default-avatar-profile-icon-social-media-user-vector-image-209162840.webp" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Zeno Khunwana</h5><span class="small  text-muted">Software Developer, TCS</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="mailto:zenokhunwana@gmail.com" class="social-link" ><i class="fa-solid fa-envelope" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/khunwana-zeno-54062341/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin-in" style="color: #878787;"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/zenokhunwana" target="_blank" class="social-link"><i class="fa-brands fa-github" style="color: #878787;"></i></a></li>
                    </ul>
            </div>
        </div><!-- End -->
    </div>
</div>

{% endblock %}